@charset "UTF-8";

#siteContainer{
	max-width: 1920px;
	background-color: #f3ecde;
	padding:0px;
}

/*.................................Header All Pages................................*/
#topBar{
	width: auto;
	height: 9vh;
	background-color:#3c3a35;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	z-index: 5;
}

#hamburger{
	
	padding: 2px;
	padding-right: 6px;
	display: none;

}

#hamburger:hover {
	cursor: pointer;
}


#hamburger:hover .lines{
	background-color: #ffbd2e;
}

.lines{
	background-color: #f3ecde;
	width: 30px;
	height: 5px;
	margin:  3px 5px;

}

#hamburgerMenu{
	position: fixed;
	z-index: 5;
	left: auto;
	right: 0px;
	bottom: 0;
	height: 91vh;
	width: 300px;
	background-color: #f3ecde;

}

#hamburgerMenu .imgButtons{
	display: flex;
	text-align: center;
}

#header{
	display: flex;
	flex-direction: column;
	align-items: center;
	height:392px;
	width: auto;
	background-image: url("../images/heroCrackedOpen.jpg");
	margin-bottom:20px;
}

#headerLogo{
	height: 300px;
	margin: 40px auto 0px; 

}

#headerLogo:hover{
	transform: translate(0, -1px);
	filter: brightness(0) saturate(100%) invert(80%) sepia(77%) saturate(1105%) hue-rotate(332deg) brightness(452%) contrast(100%);
}

#headerNav {

	height:70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.headerButton  {

	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:auto;
	color:  #f3ecde;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	padding:9px;
	margin-left: 4vw;
	margin-right: 4vw;
	text-decoration:none;

}


#imgCycler{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	background-color:#f3ecde;

}

.imgButtons{
	border-radius: 5px;
	margin: 10px 20px 30px;
	height: 42px;
	background-color: #ffbd2e;
}

.imgButtons:hover{
	background-color:  #ffcd1e;
	transform: translate(0, -1px);
}
/*........................ Header all pages End..........................*/


/*................Index..................Index..................Index.....................*/
#adHeadline1{
	padding:5vw 15vw;
	background-color: #3c3a35;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;

}


#headlineText{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	text-align: center;

}

.headline1{
	font-size: 4vw;
	font-family: 'Oswald', sans-serif;
	color: #f3ecde;
}



#headline2{
	font-size: 65px;
	text-align: center;
	margin-top:35px;
	margin-bottom: 10px;
	font-family: 'Galada', cursive;
	color:#ffbd2e;

}

#headlineImages{
	height: 1vw;

	animation-duration: 1.5s;
	animation-name: appear;
}

@keyframes appear{
	from {
		opacity: 0.1;
		margin-top:-40px;
	}

	to {
		opacity: 1;
		margin-top:0px;
	}
}

#headlineImages img{
	max-width: 18vw;
	width:100%;
}

#adHeadline2{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0px 150px;
}

#adButton {
	font-family: 'Oswald', sans-serif;
	margin-top: 2vw ;
	margin-bottom: 5vw;
	font-size: 2vw;
	text-decoration:none;
	padding: 15px;
	color:#3c3a35;
	border-radius: 15px;
	border:2px dashed #3c3a35 ;

}

#adButton:hover{
	background-color: #f2eaae;
	transform: translate(0, -1px);
}

#certifications{
	background-color: #3c3a35;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 15vw;
}




#certRight{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 510px;
	text-align: right;

}

#certText{
	font-size: 1.7vw;
	line-height: 1.6vw;
	margin-top: 40px;
	margin-bottom: 10px;
	color:#f3ecde;;
}

#certButton {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 40px;
	font-size: 2.2vw;
	text-decoration:none;
	padding: 15px;
	color:#f3ecde;
	border-radius: 15px;
	border:2px dashed #f3ecde;

}

#certButton:hover{
	background-color:  rgba(255, 190, 48, 0.5);
	transform: translate(0, -1px);

}

#certHeadline{
	margin:20px;
}

#qualitySafe{

	margin-top: 20px;
	font-size: 4.5vw;
	font-family: 'Oswald', sans-serif;
	color: #f3ecde;

}

#guareggteed{
	font-size: 6vw;
	margin-top:35px;
	margin-bottom: 10px;
	font-family: 'Galada', cursive;
	color:#ffbd2e;
}





/*........................................index End...............................................*/

/*........................................About Start...............................................*/

#aboutHeadline1{
padding:5vw 15vw;
	background-color: #3c3a35;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
}

#headlineText .aboutheadline1:first-child{
	font-size: 50px;
	text-align: center;
	font-family: 'Galada', cursive;
	color: #f3ecde;

}

#aboutHeader{
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	padding-bottom: 35px;
}

#aboutBody{
	margin: 20px 20vw;
}

#moreButton{
	display: flex;
	flex-direction: row;
	justify-content: space-between;}

#moreButton p {
	font-family: 'Oswald', sans-serif;
	font-size: 	22px;
	padding: 10px 10px 10px 135px;
}

#contactButton{
	text-decoration:none;
	padding: 10px;
	border-color: ;
	border-radius: 
}

#aboutBody p {
	padding-bottom: 15px;
}

.aboutheadline1{
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	padding-top: 10px;
	color: #f3ecde;
}

#aboutheadline2{
	font-size: 35px;
	text-align: center;
	margin-top:8px;
	margin-bottom: 10px;
	font-family: 'Oswald', sans-serif;
	color:#ffbd2e;


}

#Foodland{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: 	red;
	padding: 0px 150px;
	height: 100px;
}

#foodLandHead{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	padding: 20px 20px 0;
}

#foodlandText{
	font-size: 10px;
	padding: 0px 20px;

}

#foodlandLeft{
	position: relative;
	bottom: 50px;
	height: 100%;
	width: 205px;
}



/*........................................About End...............................................*/


/*................................Footer all pages................................................*/
#footer{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 180px;
	background-color: #343434;
	padding: 25px;
	margin-top:100px;
}

#footerCopyR{
	font-size: 12px;
	line-height: 16px;
	color: #f3ecde;
	font-family: 'Merriweather', serif;
	padding-left: 35px;

}



.footerNav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 510px;
	margin:auto 55px;
}


.footerNavButtons{
	width:42px;
	height: 42px;
	background-color: #f3ecde;

	border-radius: 5px;

}

/*..............................Footer all pages End...............................................*/

@media screen and (max-width: 830px){


	#headlineImages img:last-child {
		display: none;
	}

	#headlineImages img{
		max-width:28vw;
	}

	#adHeadline1{
		padding:5vw 9vw;
	}

	#topBar{
		position: fixed;
		width: 100%;
	}

	#header{
		padding-top:  9vh;
	}

	#imgCycler{
		height: 45px;
	}

	.imgButtons{
		display: none;	}


	#hamburger{
		display: flex;
		flex-direction: column;
	}

	.headerButton{
		font-size: 2.5vw;
		text-align: center;
	}

	#certifications{
		padding: 0 5vw;
	}

	#qualitySafe{
		font-size: 7.5vw ;
	}

	#guareggteed{
		font-size: 10vw ;
	}

	#certButton{
		margin:20px;
		padding: 10px;
	}

	#certText{
		font-size: 2.5vw;
		line-height: 17px;
		margin-bottom: 0px;
	}

	.footerNav{
		margin:auto;
	}




}

@media screen and (max-width: 650px){

	

	.headerButton{
		 font-size: 16px;
		 margin:auto;
	}

	#adHeadline1{
		flex-direction: column-reverse;
		justify-content: flex-end;
		height: 85vw;
		padding: 20px;


	}



	#headlineText p:first-child {
		margin-bottom:20px;
	}

	#headlineText p {
		margin: 3px;

	}

	.headline1{
		font-size: 8vw;
	}

	#headlineImages{
		margin:auto;
		margin-top: 40px;
	}

	#headlineImages img{
		max-width: 50vw;
	}

	#adButton{
		position: relative;
		bottom: 53vw;
		left: 10vw;
		font-size: 4vw;
		color: #f3ecde;
		border-color: #f3ecde;
	}

	#adButton:hover{
		background-color: rgba(255, 190, 48, 0.5);
	}

	#certifications{
		padding: 0 5vw;
	}

	#qualitySafe{
		font-size: 10vw ;
	}

	#guareggteed{
		font-size: 11vw ;

	}

	#certButton{
		position: relative;
		right: 20px;
		margin:20px;
		padding: 10px;
		font-size: 2.9vw;

	}

	#certText{
		position: relative;
		right: 40px;
		font-size: 3vw;
		line-height: 17px;
		margin-bottom: 0px;
	}

	#footerCopyR{
		display: none;
	}
	
}